[project]
	description = Network discovery tool
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/debosvi (debosvi)
[access "refs/for/refs/*"]
	read = group user/debosvi (debosvi)
	push = group user/debosvi (debosvi)
	label-Code-Review = -2..+2 group user/debosvi (debosvi)
	label-Verified = -1..+1 group user/debosvi (debosvi)
	rebase = group user/debosvi (debosvi)
	removeReviewer = group user/debosvi (debosvi)
	submit = group user/debosvi (debosvi)
[access "refs/heads/*"]
	read = group user/debosvi (debosvi)
	create = group user/debosvi (debosvi)
	push = +force group user/debosvi (debosvi)
	pushMerge = group user/debosvi (debosvi)
[access "refs/tags/*"]
	push = +force group user/debosvi (debosvi)
	pushTag = group user/debosvi (debosvi)
	pushSignedTag = group user/debosvi (debosvi)
